body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    color: white;
}

h1{
    color:white;
    margin: 0;
    padding: 1em; 
    text-align: center;
}

h2{
    text-align: center;
}

img{
    width:150px;
    height:205px;
}

.imgContainer{
    text-align: center;
    margin: 1em 0 0 0;
}

ul{
    text-align: center;
    padding: 1em 0 1em 0;
}

li{
    padding: 0 0 1em 0;
}

.mainWrapper{
    width: 900px;
    margin: 0 auto;
    background-color: #d1d5da;
}

header{
    background-color:#2f363d;

}

footer{
    background-color:#2f363d;
    color: white;
    padding: 1em;
}

.footerContainer{
    padding: 1em;
}

#currentDate{
    padding: 1em;
}