

h1{
    color:red;
}

img{
    width:175px;
    height:205px;
}

.mainWrapper{
    width: 900px;
    margin: 0 auto;
}

header{
    background-color:#2f363d;
}

footer{
    background-color:#2f363d;
}