@media (max-width: 600px) {

    #logo, .textBesideLogo{
        margin: 0 auto;
        align-content: center;
        text-align: center;
        display: block;
    }

  .hide{
      display: none;
  }

  .headerWidth{
      text-align: center;
  }
  
  button{
      display: inline;
  }
    
  .headerWidth ul li{
    display: block;
    padding: 1em 0 1em 0;
   }

   .headerWidth ul{
    text-align: center;
}

.weekly_weather{
    width: 400px;
}

th, td{
    width: 80px;
    padding: .5em;
}


.text-block {
    padding: 1em;
    font-size: .7em;
  }

.article{
    display: block;
}

.article_img{
    display: block;
    width: 100%;
    margin: 0;
}

.map{
    width:90%;
    display: block;
    margin: 0;
    padding:0;
 }

.contact_info{
    width: 100%;
    display: block;
    margin: 1em 0;
    padding:0;
}
}