@media (max-width: 600px) {

  .hide{
      display: none;
  }

  .headerWidth{
      text-align: center;
  }
  
  button{
      display: inline;
  }
    
  .headerWidth ul li{
    display: block;
    padding: 1em 0 1em 0;
   }

   .headerWidth ul{
    text-align: center;
}

}